<section class="py-16 bg-white">
  <div class="container mx-auto px-6">
    <h2 class="text-center text-lg font-semibold leading-8 text-slate-900">
      বিশ্বজুড়ে ২০০+ এর বেশি উদ্যোক্তা আমাদের উপর আস্থা রেখেছেন
    </h2>
    <div
      class="mt-10 w-full inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-128px),transparent_100%)] group">
      <ul class="flex items-center justify-center md:justify-start [&>li]:mx-8 animate-infinite-scroll group-hover:[animation-play-state:paused]">
        @for(client of clients; track $index) {
          <li>
            <img class="max-h-12 w-auto object-contain transition-all duration-300 grayscale hover:grayscale-0" [src]="client.logoUrl" [alt]="client.name">
          </li>
        }
      </ul>
      <ul class="flex items-center justify-center md:justify-start [&>li]:mx-8 animate-infinite-scroll group-hover:[animation-play-state:paused]" aria-hidden="true">
        @for(client of clients; track $index) {
          <li>
            <img class="max-h-12 w-auto object-contain transition-all duration-300 grayscale hover:grayscale-0" [src]="client.logoUrl" [alt]="client.name">
          </li>
        }
      </ul>
    </div>
  </div>
</section>
